<template>
  <tr>
    <td>
      <v-row align="center" justify="center">
        <!--
        <v-col class="px-0" style="max-width: 34px">
          <v-checkbox
            v-model="compareSelected"
            :true-value="true"
            :disabled="compareDisabled"
            hide-details
            dense
            class="mt-0"
            @click="onCompareChange"
          />
        </v-col>-->
        <v-col style="max-width: 100px">
          <v-img
            max-width="75"
            height="75"
            style="margin: 0 auto;"
            :src="image"
            cover
            @click="goToArticle(item)"
          />
        </v-col>
        <v-col>
          <nuxt-link class="text--black" style="text-decoration: none" :to="{'name': 'detail', params: { index: item.slug }}">
            <h5>{{ item.title }}</h5>
            <h5>{{ item.short_description }}</h5>
          </nuxt-link>
        </v-col>
      </v-row>
    </td>
    <!--
    <td style="width: 150px">
      <v-text-field
        v-model="amount"
        style="max-width: 150px"
        outlined
        dense
        type="number"
        hide-details
        min-value="1"
        append-outer-icon="mdi-plus"
        prepend-icon="mdi-minus"
        @blur="$forceUpdate()"
        @click:append-outer="increment"
        @click:prepend="decrement"
      />
    </td>
    -->
    <td style="width: 50px">
      <v-btn icon @click="remove()">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </td>
  </tr>
</template>
<script>
import compareMixin from '@/mixins/compare.mixins'
import favoriteMixin from '@/mixins/favorite.mixins'
import articleLinkMixin from '@/mixins/articleLink.mixins'
const previewImage = require('@/assets/ABN_green.jpg')
export default {
  mixins: [compareMixin, favoriteMixin, articleLinkMixin],
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    image () {
      try {
        if (this.item.images.length > 0) {
          let firstImage = this.item.images.find(x => x.field === 'produktbilder')

          if (!firstImage) {
            firstImage = this.item.images.find(x => x.field === 'prinzipdarstellung')
          }

          if (!firstImage) {
            firstImage = this.item.images.find(x => x.field === 'massdarstellung')
          }

          if (firstImage) {
            let imageUrl = firstImage.url + '?w=75&h=75&fit=contain'
            if (this.webpSupported) {
              imageUrl = imageUrl + '&fm=webp'
            }
            return imageUrl
          }
        }
      } catch (error) {
        return previewImage
      }

      return previewImage
    },
    amount: {
      get () {
        const item = this.$store.getters['favorite/items'].find(x => x.slug === this.item.slug)
        if (item && item.amount >= 1) {
          return item.amount
        }
        return 1
      },
      set (newVal) {
        if (newVal <= 1) {
          newVal = 1
        }
        this.$store.commit('favorite/changeAmount', {
          slug: this.item.slug,
          amount: parseInt(newVal)
        })
        this.$forceUpdate()
      }
    }
  },
  methods: {
    remove () {
      this.$store.commit('removeFromFavorite', this.item.slug)
    },
    getImagePath (image) {
      return '/img/' + image + '?w=100&h=100&fit=fill&border=15,ffffff'
    },
    increment () {
      this.amount = parseInt(this.amount, 10) + 1
    },
    decrement () {
      this.amount = parseInt(this.amount, 10) - 1
    }
  }
}
</script>
