<template>
  <div class="detail__index">
    <div class="details-wrap">
      <v-dialog
        v-if="item && loading === false && images.length > 0"
        :value="galery"
        max-width="900px"
        @input="galery = false"
        @click:outside="galery = false"
      >
        <v-carousel
          v-model="currentSlideIndex"
          continuous
          dark
          show-arrows
        >
          <v-carousel-item
            v-for="(carouselImage, index) in images"
            :key="index"
          >
            <v-img :src="getGaleryImagePath(carouselImage)" contain max-height="500" />
          </v-carousel-item>
        </v-carousel>
      </v-dialog>
      <v-container>
        <template v-if="loading">
          <v-row align="center" justify="center" style="min-height: 50vh">
            <v-col class="text-center">
              <v-progress-circular indeterminate color="primary" />
            </v-col>
          </v-row>
        </template>
        <template v-else>
          <v-row v-if="item" class="d-lg-none">
            <v-col cols="12">
              <small>{{ item.article_number }}</small><br>
              <h1 class="details-title mb-0">
                {{ item.title }}
              </h1>
              <h2 class="mb-2">
                {{ item.short_description }}
              </h2>
            </v-col>
          </v-row>
          <v-row v-if="item">
            <v-col cols="12" sm="12" md="4" lg="4">
              <v-row>
                <v-col cols="12" class="pt-0">
                  <swiper ref="slider" :options="swiperOptions">
                    <template v-if="images.length > 0">
                      <swiper-slide v-for="(slideImage, index) in images" :key="index">
                        <div @click="openGalery(index)">
                          <v-img :src="getImagePath(slideImage)" style="cursor: pointer; max-width: 100%" />
                        </div>
                      </swiper-slide>
                    </template>
                    <template v-else>
                      <swiper-slide>
                        <v-img :src="previewImage" contain />
                      </swiper-slide>
                    </template>
                    <!--
                    <div slot="button-prev" class="swiper-button-prev" />
                    <div slot="button-next" class="swiper-button-next" />
                    -->
                  </swiper>
                </v-col>
                <v-col v-if="images.length > 1" cols="12" class="py-0 mb-4">
                  <swiper ref="thumbSlider" :options="thumbSwiperOptions">
                    <swiper-slide v-for="(thumbImage, index) in images" :key="index">
                      <div class="pa-1 thumbnail">
                        <v-img
                          :src="getThumbImagePath(thumbImage)"
                          min-height="62px"
                          contain
                          style="cursor: pointer"
                          :class="{'current': index === currentSlideIndex}"
                          @click="onClickThumb(index)"
                        />
                      </div>
                    </swiper-slide>
                    <div slot="button-prev" class="swiper-button-prev" />
                    <div slot="button-next" class="swiper-button-next" />
                  </swiper>
                </v-col>
              </v-row>
            </v-col>

            <v-col cols="12" sm="12" md="4" lg="5" xl="5">
              <v-card flat>
                <small class="d-none d-lg-block">{{ item.article_number }}</small>
                <h1 class="details-title d-none d-lg-block mb-0">
                  {{ item.title }}
                </h1>
                <h2 class="d-none d-lg-block mb-2">
                  {{ item.short_description }}
                </h2>
                {{ item.long_description }}

                <br>
                <br>
                <br>

                <v-btn color="secondary" class="mr-2 mb-4 white--text" @click="downloadDatasheet()">
                  <v-icon left small dark>
                    mdi-file-chart-outline
                  </v-icon>
                  Datenblatt
                </v-btn>

                <v-btn v-if="item.dimensional_url" color="secondary" class="mr-2 mb-4 white--text" @click="openNewWindow(item.dimensional_url)">
                  <v-icon left small dark>
                    mdi-file-chart-outline
                  </v-icon>
                  Maßzeichnungen
                </v-btn>

                <v-btn v-if="item.instruction_url" color="secondary" class="mr-2 mb-4 white--text" @click="openNewWindow(item.instruction_url)">
                  <v-icon left small dark>
                    mdi-file-chart-outline
                  </v-icon>
                  Montageanleitung
                </v-btn>
              </v-card>
            </v-col>

            <v-col cols="12" sm="12" md="4" lg="5" xl="3">
              <v-card>
                <v-card-text>
                  <v-simple-table dense>
                    <template #default>
                      <tbody>
                        <tr v-if="item.article_number">
                          <th>Artikel Nummer:</th><td>{{ item.article_number }}</td>
                        </tr>
                        <tr v-if="item.ean">
                          <th>EAN:</th><td>{{ item.ean }}</td>
                        </tr>
                        <tr v-if="item.fee_number">
                          <th>Zolltarifnummer:</th><td>{{ item.fee_number }}</td>
                        </tr>
                        <tr v-if="item.availability">
                          <th>Verfügbarkeit:</th><td>{{ item.availability }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-card-text>
                <hr class="my-1">

                <v-card-text v-if="item.price">
                  UVP:
                  <span class="price">{{ item.price.toLocaleString(undefined, { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} &euro;</span>
                </v-card-text>

                <hr class="my-1">
                <v-card-actions>
                  <v-checkbox
                    v-model="compareSelected"
                    class="mt-0"
                    color="primary"
                    :true-value="true"
                    :disabled="compareDisabled"
                    hide-details
                    dense
                    label="Vergleichen"
                    @click="onCompareChange"
                  />
                </v-card-actions>
                <v-card-actions>
                  <v-checkbox
                    v-model="favoriteSelected"
                    class="mt-0"
                    color="primary"
                    :true-value="true"
                    hide-details
                    dense
                    label="Favorit"
                    @click="onFavoriteChange()"
                  />
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </template>
      </v-container>
      <v-container>
        <v-row v-if="item">
          <v-col v-if="mainAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="mainAttributes" title="Hauptmerkmale" />
          </v-col>
          <v-col v-if="additionalAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="additionalAttributes" title="Zusatzmerkmale" />
          </v-col>
          <v-col v-if="electricAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="electricAttributes" title="Elektrische Daten" />
          </v-col>
          <v-col v-if="ambientAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="ambientAttributes" title="Umgebungsbedingungen" />
          </v-col>
          <v-col v-if="logisticAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="logisticAttributes" title="Logistikmerkmale" />
          </v-col>
          <v-col v-if="sustainabilityAttributes.length > 0" cols="12" sm="12" md="6" lg="4">
            <detail-attribute-card :attributes="sustainabilityAttributes" title="Nachhaltigkeit" />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import compareMixin from '~/mixins/compare.mixins'
import favoriteMixin from '~/mixins/favorite.mixins'

const previewImage = require('@/assets/ABN_green.jpg')
export default {
  components: {},
  mixins: [compareMixin, favoriteMixin],
  beforeRouteEnter (to, from, next) {
    next((vm) => {
      vm.previousRoute = from.fullPath
    })
  },
  async asyncData ({ params }) {
    const slug = params.index// When calling /abc the slug will be "abc"
    return { slug }
  },
  data () {
    return {
      previousRoute: null,
      selectedImage: null,
      loading: true,
      searchTerm: '',
      item: null,
      tab: 'data',
      currentDate: new Date().toLocaleString(),
      previewImage,
      currentSlideIndex: 0,
      thumbSwiperOptions: {
        // direction: 'vertical',
        slidesPerView: 6,
        centeredSlides: false,
        spaceBetween: 5,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
        // Some Swiper option/callback...
      },
      galery: false,
      swiperOptions: {
        // direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: 0,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
        // Some Swiper option/callback...
      },
      zoomerOptions: {
        zoomFactor: 3, // scale for zoomer
        pane: 'container', // three type of pane ['pane', 'container-round', 'container']
        hoverDelay: 300, // how long after the zoomer take effect
        namespace: 'zoomer', // add a namespace for zoomer component, useful when on page have mutiple zoomer
        move_by_click: false, // move image by click thumb image or by mouseover
        scroll_items: 4, // thumbs for scroll
        choosed_thumb_border_color: '#bbdefb', // choosed thumb border color
        scroller_button_style: 'line',
        scroller_position: 'left',
        zoomer_pane_position: 'right'
      }
    }
  },
  computed: {
    webpSupported () {
      const webp = e => document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') === 0
      return webp()
    },
    mainAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 1
      })
      return attr
    },
    additionalAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 2
      })
      return attr
    },
    electricAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 3
      })
      return attr
    },
    ambientAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 4
      })
      return attr
    },
    logisticAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 5
      })
      return attr
    },
    sustainabilityAttributes () {
      const attr = this.item.attributes.filter((attr) => {
        return attr.group.id === 6
      })
      return attr
    },
    isPreviewServer () {
      return this.$store.getters.isPreviewServer
    },
    dimensionalImages () {
      return this.item.images.filter((image) => {
        return image.field === 'maßdarstellung'
      })
    },
    images () {
      // const tmp = []
      const results = []

      const images = this.item.images
      if (images.length > 0) {
        images.forEach((image) => {
          results.push(image.url)
        })
      }
      return results
      /*
      const sortFunc = function (a, b) {
        const keyA = a.sorting
        const keyB = b.sorting
        // Compare the 2 dates
        if (keyA < keyB) { return 1 }
        if (keyA > keyB) { return -1 }
        return 0
      }
      try {
        if (images.length > 0) {
          const productImages = images.filter(x => x.field === 'produktbilder')

          if (productImages.length > 0) {
            productImages.sort(sortFunc)
            tmp = [...tmp, ...productImages]
          }

          const prinzipdarstellung = images.filter(x => x.field === 'prinzipdarstellung')

          if (prinzipdarstellung.length > 0) {
            prinzipdarstellung.sort(sortFunc)
            tmp = [...tmp, ...prinzipdarstellung]
          }

          const massdarstellung = images.filter(x => x.field === 'massdarstellung')

          if (massdarstellung.length > 0) {
            massdarstellung.sort(sortFunc)
            tmp = [...tmp, ...massdarstellung]
          }
          for (let i = 0; i < tmp.length; i++) {
            results.push(tmp[i].url)
          }
        }
      } catch (error) {

      }
      return results

       */
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    openNewWindow (url) {
      window.open(url, '_blank')
    },
    openGalery (index) {
      const self = this
      self.currentSlideIndex = index
      self.galery = true
    },
    onClickThumb (index) {
      this.currentSlideIndex = index
      this.$refs.slider.swiperInstance.slideTo(index)
    },
    getImagePath (path) {
      return path + '?w=450&h=450&fit=fill&border=10,ffffff,shrink' + (this.webpSupported ? '&fm=webp' : '')
    },
    getGaleryImagePath (path) {
      return path + '?w=950&h=950&fit=fill&border=50,ffffff,shrink' + (this.webpSupported ? '&fm=webp' : '')
    },
    getThumbImagePath (path) {
      return path + '?w=80&h=80&fit=fill&border=1,ffffff,shrink' + (this.webpSupported ? '&fm=webp' : '')
    },
    downloadDatasheet () {
      this.openNewWindow('/datasheet/' + this.slug)
    },
    goBackToResults () {
      if (this.$route.query.backUrl) {
        this.$router.push(this.$route.query.backUrl)
        return false
      }

      return this.$router.back()
    },
    load () {
      const me = this
      me.loading = true
      me.$articleApiService.getBySlug(this.slug).then((result) => {
        me.item = result
      }).finally(() => {
        me.loading = false
      })
    }
  }
}

</script>
<style lang="scss">
.details-wrap__card {
  height: 100%;
}
.v-window__container {
  background-color: #fff;
}
.price {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.thumbnail {
  border: 1px solid #cccccc;
}

.thumbnail.current {
  border: 1px solid  #007aff;;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-weight: 500;
  font-size: 0.9rem;
  padding-left: 0;
}
</style>
