<!DOCTYPE html>
<html {{ HTML_ATTRS }}>
<head {{ HEAD_ATTRS }}>
  <!--
  Created by wolter e-Marketing GmbH
  WWW: www.w-em.com
  EMAIL: info@w-em.com
  -->
  {{ HEAD }}
</head>
<body {{ BODY_ATTRS }}>
{{ APP }}
</body>
</html>
