<template>
  <div id="app">
    <v-app>
      <list-header />
      <v-main id="main">
        <nuxt />
      </v-main>

      <v-footer
        app
        color="primary"
        absolute
      >
        <v-container fluid>
          <v-row
            justify="center"
            no-gutters
          >
            <div class="white--text">
              <a href="https://www.abn-electro.com/impressum/" title="Impressum" target="_blank" class="white--text pr-2">Impressum</a>
              <a href="https://www.abn-electro.com/datenschutz/" title="Datenschutz" target="_blank" class="white--text pr-2">Datenschutz</a>
              <a href="https://www.schneider-electric.de/de/about-us/legal/agb.jsp" target="_blank" title="AGB" class="white--text pr-2">AGB</a>
              <a href="https://www.abn-electro.com/service/newsletter/" target="_blank" title="Newsletter" class="white--text pr-2">Newsletter</a>
            </div>

            <div class="white--text ml-auto">
              ©{{ new Date().getFullYear() }}, ABN GmbH by Schneider Electric
            </div>
          </v-row>
        </v-container>
      </v-footer>
    </v-app>
  </div>
</template>

<script>

export default {

  mounted () {
  },
  methods: {
    // ...mapMutations('app', ['setCategories', 'setProjectLabels', 'setSelectedTeam', 'setTeams', 'setCompanies']),
  }
}
</script>

<style scoped>
body {
  margin: 0 !important;
}

footer {
  font-size: 12px;
}

footer a {
  text-decoration: none;
}
</style>
