<template>
  <div id="app">
    <v-app light>
      <nuxt />
    </v-app>
  </div>
</template>

<script>
export default {
  components: { }
}
</script>

<style>
body {
  margin: 0 !important;
}
</style>
