<template>
  <v-card class="details-wrap__card">
    <v-card-title>{{ title }}</v-card-title>
    <v-card-text>
      <v-simple-table dense>
        <template #default>
          <tbody>
            <tr v-for="(attribute, index) in attributes" :key="index">
              <th style="width: 40%" v-html="getLabel(attribute.label)" />
              <td style="width: 60%">
                {{ attribute.value }}
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    attributes: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  },
  methods: {
    getLabel (label) {
      return label.replaceAll(' ', '&nbsp;')
    }
  }
}
</script>
