// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
  --swiper-navigation-size: 16px;
  --swiper-theme-color: #3dcd58;
}

@media (min-width: 960px) and (max-width: 1903px){
  .container {
    max-width: 100%;
  }
}

$pagination-border-radius: 0;
$expansion-panel-border-radius: 0;



