<template>
  <v-container fill-height>
    <v-layout align-center justify-center fill-height>
      <v-container fill-height class="pa-0">
        <v-row class="pa-0 fill-height" align-center>
          <v-col cols="12" class="justify-center d-flex flex-column text-center">
            <v-card flat class="text-center">
              <a href="https://w-em.com" target="_blank" title="wolter e-Marketing">
                <v-img contain :src="image" max-width="200px" style="margin: 0 auto;" />
                created by wolter e-Marketing GmbH
              </a>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
const logoImage = require('@/assets/wolter-e-marketing-logo-green.png')
export default {
  data () {
    return {
      image: logoImage
    }
  },
  head () {
    return {
      title: 'About this Application',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'created by wolter e-Marketing GmbH'
        }
      ]
    }
  }
}
</script>
