<template>
  <div class="compare-wrap">
    <v-container>
      <v-row style="margin: 3rem 0;">
        <v-col cols="12">
          <h1>Produkte vergleichen</h1>
        </v-col>
      </v-row>
      <v-row v-if="loading" align="center" justify="center" style="min-height: 50vh">
        <v-col class="text-center">
          <v-progress-circular indeterminate color="primary" />
        </v-col>
      </v-row>
      <v-row v-else-if="loading === false && items.length > 0">
        <v-col cols="12">
          <v-simple-table dense>
            <template #default>
              <thead>
                <tr>
                  <td>&nbsp;</td>
                  <td v-for="item in items" :key="item.id" style="width: 300px; height: auto">
                    <list-item :item="item" :loading="false" disable-card />
                  </td>
                </tr>
              </thead>
              <tbody>
                <template v-for="group in groups">
                  <tr :key="group.id">
                    <td class="pt-4">
                      <h3>{{ group.title }}</h3>
                    </td>
                    <td :colspan="items.length" />
                  </tr>

                  <tr v-for="child in group.childs" :key="child.id" :class="{'highlighted': differentKeys.indexOf(child.id) > -1}">
                    <td>
                      {{ child.label }}
                    </td>
                    <td v-for="item in items" :key="item.id">
                      {{ findItemAttributeById(item, child.id) }}
                    </td>
                  </tr>
                </template>
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col align="center" justify="center" style="min-height: 50vh">
          Keine Produkte zum vergleichen.
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  mixins: [],
  data () {
    return {
      items: [],
      loading: true
    }
  },
  head () {
    return {
      title: 'Produkte Vergleichen',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Produkte Vergleichen'
        }
      ]
    }
  },
  computed: {
    empty () {
      return this.$store.getters['compare/items'].length === 0
    },
    compare () {
      return this.$store.getters['compare/items']
    },
    groups () {
      const self = this
      const groups = {}
      let properties = []

      if (self.items.length > 0 && this.loading === false) {
        self.items.forEach((item) => {
          properties = [...properties, ...item.attributes]
        })

        properties.forEach((prop) => {
          if (!groups[prop.group.id]) {
            groups[prop.group.id] = prop.group
            groups[prop.group.id].childs = {}
            groups[prop.group.id].childs[prop.id] = prop
            delete groups[prop.group.id].childs[prop.id].group
          } else {
            groups[prop.group.id].childs[prop.id] = prop
            delete groups[prop.group.id].childs[prop.id].group
          }
        })
      }

      return groups
    },
    /**
     * return
     * @returns []
     */
    differentKeys () {
      const self = this
      const results = []
      const len = self.items.length
      let properties = []
      const groupBy = function (xs, key) {
        return xs.reduce(function (rv, x) {
          (rv[x[key]] = rv[x[key]] || []).push(x)
          return rv
        }, {})
      }

      if (len > 0 && this.loading === false) {
        self.items.forEach((item) => {
          properties = [...properties, ...item.attributes]
        })

        const grouped = groupBy(properties, 'id')
        const keys = Object.keys(grouped)
        const keyLength = keys.length
        for (let i = 0; i < keyLength; i++) {
          const group = grouped[keys[i]]
          if (group.length !== len) {
            results.push(group[0].id)
          } else {
            let value
            group.forEach((item, index) => {
              if (index === 0) {
                value = item.value
              } else if (value !== item.value) {
                results.push(group[0].id)
              }
            })
          }
        }
      }

      return results
    }
  },
  watch: {
    compare: {
      handler () {
        this.load()
      },
      deep: true
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    findItemAttributeById (item, attributeId) {
      const attr = item.attributes.find(a => a.id === attributeId)
      if (attr) {
        return attr.value
      }
      return ''
    },
    loadArticle (slug) {
      const self = this
      return new Promise((resolve) => {
        self.$articleApiService.getById(slug).then((response) => {
          resolve(response)
        })
      })
    },
    load () {
      const self = this
      const len = this.compare.length - 1
      self.loading = true

      if (this.compare.length === 0) {
        self.items = []
        self.$nextTick(() => {
          self.loading = false
        })

        return
      }

      const slugs = []
      self.compare.forEach((slug, index) => {
        slugs.push(slug)
        if (index === len) {
          self.$articleApiService.getBySlugs(slugs).then((results) => {
            self.items = results
            self.loading = false
          })
        }
      })
    },
    getImagePath (image) {
      return '/img/' + image + '?w=450&h=450&fit=fill&border=15,ffffff'
    },
    goBackToResults () {
      if (this.$route.query.backUrl) {
        this.$router.push(this.$route.query.backUrl)
        return false
      }
      this.$router.go(-1)
      return false
    }
  },
  metaInfo () {
    return {
      title: 'Artikelvergleich',
      meta: [
        {
          vmid: 'description',
          name: 'description',
          content: 'Artikelvergleich'
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
.v-data-table__wrapper {
  td {
    max-width: 300px;
  }

  tr.highlighted {
    background: #F5F5F5;
  }
}
</style>
