<template>
  <div class="favorite-wrap">
    <v-container>
      <v-row style="margin: 3rem 0;">
        <v-col cols="12">
          <h1>Meine Produkte</h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="8" xl="9">
          <v-simple-table dense>
            <template #default>
              <thead>
                <tr>
                  <th>Name</th>
                  <th />
                </tr>
              </thead>
              <tbody>
                <favorite-item v-for="item in items" :key="item.slug" :item="item" />
              </tbody>
            </template>
          </v-simple-table>
        </v-col>
        <v-col cols="12" lg="4" xl="3">
          <v-card>
            <!--
            <v-card-title>Produktliste</v-card-title>
            <v-card-text>
              <v-btn color="primary" block>
                <v-icon>mdi-file-pdf</v-icon> Als PDF herunterladen
              </v-btn>
            </v-card-text>
            <hr>
            -->
            <v-card-title>Produktdatenblätter</v-card-title>
            <v-card-text>
              <v-btn color="secondary" block @click="downloadDatasheets()">
                <v-icon>mdi-file-pdf</v-icon> Als PDF herunterladen
              </v-btn>
            </v-card-text>
            <hr>
            <v-card-text>
              <!--
              <v-btn text block :to="{name: 'compare'}">
                <v-icon left>
                  mdi-arrange-send-to-back
                </v-icon> Vergleichen
              </v-btn>
              -->
              <v-btn text block @click="removeAll()">
                <v-icon left>
                  mdi-delete
                </v-icon> Alle entfernen
              </v-btn>
            </v-card-text>
            <hr>
            <v-card-text>
              <b>Artikel gesamt: {{ favorites.length }}</b>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
// import ArticleApiService from '@/api/article.api.service' // include the ajax service
// import ArticleTransformer from '@/transformers/ArticleTransformer'
// import DatasheetApiService from '@/api/datasheet.api.service'
import compareMixin from '~/mixins/compare.mixins'
import favoriteMixin from '~/mixins/favorite.mixins'

export default {

  mixins: [compareMixin, favoriteMixin],
  data () {
    return {
      items: [],
      loading: true
    }
  },
  head () {
    return {
      title: 'Ihre Favoriten',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Ihre Favoriten'
        }
      ]
    }
  },
  computed: {
    favorites () {
      return this.$store.getters['favorite/items']
    }
  },
  watch: {
    favorites: {
      handler (newval) {
        this.load()
      },
      deep: true
    }
  },
  mounted () {
    this.load()
  },
  methods: {
    downloadDatasheets () {
      const slugs = []
      this.favorites.forEach((favorite) => {
        slugs.push(favorite.slug)
      })

      if (slugs.length > 0) {
        window.open('/datasheets/' + slugs.join(','), '_blank')
      }
    },
    removeAll () {
      this.$store.commit('favorite/clear')
    },
    loadArticle (slug) {
      return new Promise((resolve) => {
        this.$articleApiService.getBySlug(slug).then((response) => {
          resolve(response)
        })
      })
    },
    load () {
      const self = this
      const len = this.favorites.length - 1
      self.loading = true

      if (this.favorites.length === 0) {
        self.items = []
        self.$nextTick(() => {
          self.loading = false
        })

        return
      }

      const slugs = []
      self.favorites.forEach((item, index) => {
        slugs.push(item.slug)
        if (index === len) {
          self.$articleApiService.getBySlugs(slugs).then((results) => {
            self.items = results
          })
        }
      })
    },
    goBackToResults () {
      if (this.$route.query.backUrl) {
        this.$router.push(this.$route.query.backUrl)
        return false
      }
      this.$router.go(-1)
      return false
    }
  }
}

</script>
