<template>
  <div class="list__index">
    <list-drawer />

    <v-container fluid>
      <v-row align="center" justify="center">
        <div style="min-height: 68px;" class="col-12 col-sm">
          <v-pagination
            v-if="maxPage > 1"
            v-model="page"
            color="secondary"
            elev
            :length="maxPage"
            :total-visible="5"
            @input="onPaginationChange"
          />
          <v-spacer />
        </div>

        <v-col class="text-right small">
          <div v-if="!loading">
            {{ paginatedData.start }} - {{ paginatedData.end }} von {{ total }} Produkten
          </div>
        </v-col>
      </v-row>
      <div v-if="loading === false && articles.length === 0" align="center" justify="center">
        <v-col cols="12" md="12" class="text-center">
          <h5>Zu Ihrer Anfrage wurden keine Produkte gefunden.</h5>
        </v-col>
      </div>
    </v-container>

    <div class="pa-2 pa-sm-4">
      <div class="listing__items">
        <template v-if="loading">
          <div v-for="n in itemsPerPage" :key="'s' + n" class="listing__items-item">
            <v-skeleton-loader type="image, article" />
          </div>
        </template>
        <template v-else>
          <div v-for="article in articles" :key="'a' + article.id" class="listing__items-item">
            <list-item :item="article" :loading="loading" />
          </div>
        </template>
      </div>
    </div>
    <v-container fluid>
      <v-row>
        <v-col>
          <v-pagination
            v-if="maxPage > 1"
            v-model="page"
            color="secondary"
            elev
            :length="maxPage"
            :total-visible="5"
            @input="onPaginationChange"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>

import { mapMutations } from 'vuex'

import types from '@/utils/types.utils'
import listingMixin from '~/mixins/listing.mixin'

export default {
  mixins: [listingMixin],
  data () {
    return {
      error: '',
      searchTerm: '',
      items: [],
      selected: [],
      filterPanels: {},
      categoryPanels: {},
      expandedFilterPanels: []
    }
  },
  head () {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'ABN-Electro Produktdatenbank'
        }
      ]
    }
  },
  computed: {
    title () {
      if (this.loading) {
        return 'wird geladen...'
      } else {
        return 'ABN-Electro Produktdatenbank'
      }
    },
    paginatedData () {
      const start = (this.page * this.itemsPerPage) - (this.itemsPerPage - 1)
      const end = Math.min(start + this.itemsPerPage - 1, this.total)
      return {
        start,
        end
      }
    },
    articles: {
      get () {
        return this.$store.getters['article/articles']
      },
      set (val) {
        this.$store.commit('article/setArticles', val)
      }
    },
    selectedCategories: {
      get () {
        return this.$store.getters['article/selectedCategories']
      },
      set (val) {
        this.$store.commit('article/setSelectedCategories', val)
      }
    },
    filters: {
      get () {
        return this.$store.getters['article/filters']
      },
      set (val) {
        this.$store.commit('article/setFilters', val)
      }
    },
    categories: {
      get () {
        return this.$store.getters['article/categories']
      },
      set (val) {
        this.$store.commit('article/setCategories', val)
      }
    },
    loading: {
      get () {
        return this.$store.getters['article/loading']
      },
      set (val) {
        this.$store.commit('article/setLoading', val)
      }
    },
    drawer: {
      get () {
        return this.$store.getters['app/drawer']
      },
      set (val) {
        this.$store.commit('app/setDrawer', val)
      }
    }
  },
  created () {
    const self = this
    const query = this.$route.query

    if (query.term) {
      self.searchTerm = query.term
    }

    if (query.categories) {
      self.selectedCategories = types.isArray(query.categories) ? query.categories : [query.categories]
    }
  },
  mounted () {
    const self = this
    self.$root.$on('category::change', (value) => {
      self.changeCategory(value)
    })

    self.$root.$on('selectedFilter::change', (filter, value) => {
      self.changeFilter(filter, value)
    })

    self.$root.$on('filters::reset', () => {
      self.resetFilters()
    })
  },
  methods: {
    ...mapMutations('app', ['setDrawer']),
    ...mapMutations('article', ['setArticles', 'setCategories', 'setFilters']),
    resetFilters () {
      const self = this
      const query = self.$route.query
      const params = self.$route.params
      delete query.categories

      const route = {
        name: 'index',
        params,
        query: {
          ...query,
          filters: []
        }
      }

      // If query is empty then replace route, otherwise push
      if (types.isEmpty(query)) {
        self.$router.replace(route)
      } else {
        self.$router.push(route)
      }
    },
    changeFilter (filterSlug, value) {
      const self = this
      const selectedFilters = JSON.parse(JSON.stringify(self.selected))
      const filterIndex = selectedFilters.findIndex(x => x[0] === filterSlug)

      if (filterIndex === -1) { // slug not found
        selectedFilters.push([filterSlug, value])
      }
      // slug is found
      // check value exists
      if (!selectedFilters[filterIndex].includes(value)) {
        selectedFilters[filterIndex].push(value)
      } else {
        selectedFilters[filterIndex].splice(selectedFilters[filterIndex].indexOf(value), 1)
        if (selectedFilters[filterIndex].length === 1) {
          selectedFilters.splice(filterIndex, 1)
        }
      }

      self.selected = selectedFilters

      self.updateRoute({
        page: 1
      }, self.getFilterParams())
    },
    updateData (customData) {
      const self = this
      self.page = parseInt(customData.page, 10) || self.page
      self.itemsPerPage = parseInt(customData.itemsPerPage, 10) || self.itemsPerPage
      self.term = customData.term
      self.sortBy = customData.sortBy || self.sortBy
      self.sortDirection = customData.sortDirection || self.sortDirection
      self.parseCategoryParams()

      const filters = []
      if (customData.filters) {
        if (types.isArray(customData.filters)) {
          customData.filters.forEach((filter) => {
            if (types.isArray(filter)) {
              filters.push(filter)
            } else {
              filters.push(filter.split(','))
            }
          })
        } else {
          filters.push(customData.filters.split(','))
        }
      }
      self.selected = filters
    },
    parseCategoryParams () {
      const self = this
      const query = this.$route.query
      const selectedCategories = []

      if (query.categories) {
        const categories = types.isArray(query.categories) ? query.categories : [query.categories]
        const len = categories.length

        categories.forEach((item, index) => {
          const tempCategory = self.categories.find(category => category.slug === item)
          if (tempCategory) {
            if (!selectedCategories.includes(tempCategory.slug)) {
              selectedCategories.push(tempCategory.slug)
            }
            if (len - 1 === index) {
              self.selectedCategories = selectedCategories
            }
          }
        })
      } else {
        self.selectedCategories = selectedCategories
      }
    },
    getList () {
      const self = this

      self.loading = true
      self.error = ''

      this.getParams().then((params) => {
        self.loadArticles(params).then((result) => {
          const promises = [self.loadCategories(params)]
          if (result.token) {
            promises.push(self.loadArticleFilterByToken(result.token))
          }
          Promise.all(promises).then(() => {
            self.loading = false
          })
        })
      })
    },
    getParams () {
      const params = this.getListingParams()
      return this.getQueryFilters().then((filters) => {
        if (this.selectedCategories.length > 0) {
          params.categories = this.selectedCategories
        }

        params.filters = JSON.parse(JSON.stringify(filters))
        return params
      })
    },
    async getQueryFilters () {
      return new Promise((resolve) => {
        const query = this.$route.query // Get actual query parameter
        const filters = []

        if (!query.filters) {
          resolve(filters)
        }

        if (types.isString(query.filters)) {
          filters.push(query.filters.split(','))
        } else if (types.isArray(query.filters)) {
          const filterLen = query.filters.length
          if (filterLen === 0) {
            resolve(filters)
          }

          for (let i = 0; i < filterLen; i++) {
            const filter = query.filters[i]
            if (types.isArray(filter)) {
              filters.push(filter)
            } else if (types.isString(filter)) {
              filters.push(filter.split(','))
            }

            if (i + 1 === filterLen) {
              resolve(filters)
            }
          }
        }

        resolve(filters)
        /*
        const filterLen = query.filters.length

        if (filterLen === 0) {
          resolve(filters)
        }

        console.log(query.filters)

        for (let i = 0; i < filterLen; i++) {
          const filter = query.filters[i]
          if (types.isArray(filter)) {
            filters.push(filter)
          } else if (types.isString(filter)) {
            console.log('test')
            filters.push(filter.split(','))
          }

          if (i + 1 === filterLen) {
            resolve(filters)
          }
        } */
      })
    },
    loadCategories (params) {
      const self = this

      return new Promise((resolve, reject) => {
        let query

        if (params.term) {
          const searchParam = Object.assign({}, params, { page: 1, itemsPerPage: -1 })
          // query = self.$categoryApiService.getSearchList(searchParam)
          delete searchParam.term
          query = self.$categoryApiService.getList(searchParam)
        } else {
          query = self.$categoryApiService.getList({ page: 1, itemsPerPage: -1 })
        }

        query.then((result) => {
          self.categories = []
          if (result.items && result.items.length > 0) {
            self.categories = result.items
          }
          self.parseCategoryParams()
          resolve()
        }).catch((err) => {
          reject(err)
        })
      })
    },
    onFilterChange (key, value) {
      this.$root.$emit('selectedFilter::change', key, value)
    },
    loadArticleFilterByToken (token) {
      const self = this
      return new Promise((resolve, reject) => {
        self.$articleApiService.filtersByToken(token).then((result) => {
          self.filters = types.isArray(result.items) ? result.items : []
          resolve()
        })
      })
    },
    loadArticleFilter (params) {
      const self = this
      return new Promise((resolve, reject) => {
        self.$articleApiService.filter(params).then((result) => {
          self.filters = result.items
          resolve()
        })
      })
    },
    loadArticles (params) {
      const self = this
      return new Promise((resolve, reject) => {
        const payload = this.getSearchPayloadFromParams(params)
        self.$articleApiService.search(payload).then((result) => {
          self.total = result.total
          self.articles = result.items

          resolve(result)
        }).catch((error) => {
          reject(error)
        })
      })
    },
    getSearchPayloadFromParams (params) {
      const payload = {
        term: this.term,
        queries: [],
        sort: [],
        itemsPerPage: this.itemsPerPage,
        page: this.page
      }

      if (this.sortBy) {
        payload.sort.push({ fieldName: this.sortBy, sortOrder: this.sortDirection })
      }

      if (params.categories) {
        payload.queries.push({
          name: 'categories',
          values: params.categories,
          operator: 'or'
        })
      }

      params.filters.forEach((filter) => {
        const item = Object.assign([], filter)
        if (item.length > 1) {
          payload.queries.push({
            name: item[0],
            values: item.splice(1),
            operator: 'and'
          })
        }
      })

      return payload
    },
    onPageChange (opts) {
      this.page = opts.page
      this.itemsPerPage = opts.itemsPerPage
      this.updateRoute({
        page: this.page
      }, this.getFilterParams())
    },
    changeCategory (value) {
      const self = this
      const query = self.$route.query

      self.selectedCategories = value
      self.page = 1

      self.$nextTick(function () {
        const params = self.getFilterParams()
        self.updateRoute({
          page: this.page,
          term: query.term || this.term
        }, params)
      })
    },
    getFilterParams (disableFilters = false) {
      const self = this
      const params = {}

      if (self.selectedCategories.length > 0) {
        params.categories = self.selectedCategories
      } else {
        params.categories = undefined
      }
      if (self.selected.length > 0 && disableFilters === false) {
        params.filters = self.selected
      } else {
        params.filters = undefined
      }
      return params
    },
    onPaginationChange (val) {
      this.onPageChange({
        page: val,
        itemsPerPage: this.itemsPerPage
      })
    }
  }
}
</script>
<style lang="scss">
.v-pagination {
  justify-content: flex-start !important;
}

.listing__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.listing__items-item {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

</style>
