<template>
  <div style="width: 100%">
    <v-text-field
      v-model="searchTerm"
      hide-details
      clearable
      prepend-inner-icon="mdi-magnify"
      placeholder="Suchen"
      class="app-search__input"
      type="text"
      @keydown.enter="executeSearch()"
      @click:clear="clickClear()"
    >
      <template #append>
        <v-fade-transition leave-absolute>
          <v-progress-circular v-if="loading" size="24" color="info" indeterminate />
          <v-icon @click="executeSearch()">
            mdi-keyboard-return
          </v-icon>
        </v-fade-transition>
      </template>
    </v-text-field>

    <v-card v-if="items.length > 0 && loading === false" style="position: absolute; left: 0; right: 0">
      <v-list dense>
        <v-list-item v-for="(item, index) in items" :key="index">
          <span>{{ item.suggestion }}</span>
        </v-list-item>
      </v-list>
    </v-card>
  </div>
</template>
<script>
import types from '@/utils/types.utils'
const debounce = require('debounce')
export default {
  data () {
    return {
      term: '',
      searchTerm: '',
      loading: false,
      items: []
    }
  },
  watch: {
    // Watch for changes in query parameters and update listing
    '$route' () {
      const self = this
      const actualQueryParameters = this.$route.query
      self.searchTerm = actualQueryParameters.term
      self.term = actualQueryParameters.term
    },
    searchTerm: debounce(function (term) {
      // this.searchSuggest(term)
    }, 800)
  },
  mounted () {
    const self = this
    const actualQueryParameters = self.$route.query
    self.searchTerm = actualQueryParameters.term
    self.term = actualQueryParameters.term
    self.selectedBaseCategory = actualQueryParameters.base
    // self.loadBaseCategories()
  },

  methods: {
    searchSuggest (term) {
      const self = this
      if (term && term.length > 2) {
        this.$articleApiService.getSuggest({ term }).then((results) => {
          self.items = results
        })
      }
    },
    updateRoute (customQuery, queryExtension = {}) {
      const self = this
      // Get actual query parameter
      const query = customQuery || this.$route.query
      const routeQuery = this.$route.query
      const newQuery = {
        page: 1
      }
      const route = {
        name: 'index',
        params: this.$route.params,
        query: {
          term: query.term || this.term,
          ...newQuery,
          ...queryExtension
        }
      }

      // If query is empty then replace route, otherwise push
      if (types.isEmpty(routeQuery)) {
        self.$router.replace(route)
      } else {
        self.$router.push(route)
      }
    },
    clickClear () {
      this.searchTerm = ''
      this.executeSearch()
    },
    executeSearch () {
      if (!this.searchTerm || this.searchTerm.length === 0) {
        this.searchTerm = undefined
      }
      if (this.term === this.searchTerm) {
        return
      }
      const query = {}
      this.term = this.searchTerm

      if (this.selectedBaseCategory) {
        query.base = this.selectedBaseCategory
      }

      this.updateRoute({
        term: this.term,
        page: 1
      }, query)
    }
  }
}
</script>
