<template>
  <v-navigation-drawer
    id="app-drawer"
    v-model="drawer"
    app
    clipped
    width="340"
    mini-variant-width="90"
    mobile-breakpoint="991"
  >
    <v-toolbar class="d-block d-md-none">
      <v-toolbar-title>Filter</v-toolbar-title>
      <v-spacer />
      <v-icon @click="drawer = false">
        mdi-close
      </v-icon>
    </v-toolbar>
    <v-list dense>
      <v-list-item v-if="categoryTree.length > 0">
        <v-list-item-title>
          Kategorien
        </v-list-item-title>
      </v-list-item>

      <v-list-item>
        <v-treeview
          dense
          :value="selectedCategories"
          selectable
          selected-color="primary"
          multiple-active
          class="mb-5"
          item-disabled="locked"
          item-text="title"
          item-key="slug"
          selection-type="independent"
          :items="categoryTree"
          @input="onCategorySelect"
        />
      </v-list-item>

      <v-list-item v-if="filters.length > 0">
        <v-list-item-title>
          Filter
        </v-list-item-title>
      </v-list-item>

      <template v-if="filters.length > 0">
        <v-list-item>
          <v-expansion-panels
            v-model="filterPanels"
            flat
            multiple
            accordion
          >
            <v-expansion-panel
              v-for="(group, index) in currentFilters"
              :key="index"
              :class="{'bordered': panelBordered(group) }"
            >
              <v-expansion-panel-header>
                {{ group.label }}
              </v-expansion-panel-header>

              <v-expansion-panel-content>
                <v-checkbox
                  v-for="option in group.options"
                  :key="option.slug"
                  v-model="option.selected"
                  :true-value="true"
                  color="primary"
                  class="mt-0"
                  hide-details
                  :disabled="loading"
                  dense
                  :label="option.label"
                  @click="onFilterChange(group.slug, option.slug)"
                />
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-list-item>
      </template>

      <v-list-item v-if="selectedFilters.length > 0 || selectedCategories.length > 0">
        <v-btn block outlined color="secondary" @click="resetFilters()">
          Filter löschen ({{ selectedFilters.length + selectedCategories.length }})
          <v-icon right>
            mdi-close-circle-outline
          </v-icon>
        </v-btn>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
// import { flatMap, map } from 'lodash'
import types from '@/utils/types.utils'

export default {
  data () {
    return {
      selectedCategories: [],
      selectedFilters: [],
      treeSelectedCategories: [],
      filterPanels: []
    }
  },
  computed: {
    currentFilters () {
      const filters = JSON.parse(JSON.stringify(this.filters))
      const results = []

      filters.forEach((filter) => {
        const result = Object.assign({}, filter)
        const options = Object.assign([], result.options)
        result.options = []
        options.forEach((option) => {
          option.selected = this.selectedFilters.includes(result.slug + '__' + option.slug)
          result.options.push(option)
        })
        results.push(result)
      })
      return results
    },
    categories () {
      return this.$store.getters['article/categories']
    },
    filters () {
      return this.$store.getters['article/filters']
    },
    ___filterGroups1 () {
      const results = []
      let result
      this.filters.forEach((filter) => {
        result = {
          label: filter.label,
          slug: filter.slug,
          options: []
        }
        filter.options.forEach((option) => {
          if (this.selectedFilters[filter.slug][option.slug]) {
            result.options.push(option)
          }
        })

        results.push(result)
      })
      return results
    },
    filterTree () {
      const createDataTree = (dataset) => {
        const hashTable = []
        dataset.forEach((item, index) => {
          hashTable[index] = {
            slug: item.slug,
            title: item.label,
            children: []
          }
          item.options.forEach((option) => {
            hashTable[index].children.push({
              slug: option.slug,
              title: option.label
            })
          })
        })

        return hashTable
      }
      return createDataTree(this.filters)
    },
    categoryTree () {
      const createDataTree = (dataset) => {
        const hashTable = Object.create(null)
        dataset.forEach((item) => {
          hashTable[item.id] = { ...item, children: [] }
        })

        const dataTree = []
        dataset.forEach((item) => {
          if (item.parent_id > 0) {
            hashTable[item.parent_id].children.push(hashTable[item.id])
          } else {
            dataTree.push(hashTable[item.id])
          }
        })
        return dataTree
      }
      const tree = createDataTree(this.categories)
      return tree
    },
    drawer: {
      get () {
        return this.$store.getters['app/drawer']
      },
      set (val) {
        this.$store.commit('app/setDrawer', val)
      }
    },
    selectedStoreCategories () {
      return this.$store.getters['article/selectedCategories']
    },
    loading () {
      return this.$store.getters['article/loading']
    }
  },
  watch: {
    selectedStoreCategories (val) {
      this.selectedCategories = val
    },
    '$route' () {
      this.buildSelectedFiltersArray()
    },
    '$vuetify.breakpoint.name' (val) {
      if (val === 'lg') {
        this.drawer = true
      }
    }
  },
  mounted () {
    const self = this
    self.buildSelectedFiltersArray()

    self.$nextTick(() => {
      self.filterPanels = []
      self.currentFilters.forEach((group, index) => {
        if (self.panelBordered(group)) {
          self.filterPanels.push(index)
        }
      })
    })

    // this.filterPanels = []
  },
  methods: {
    resetFilters () {
      this.$root.$emit('filters::reset')
    },
    panelBordered (group) {
      return group.options.filter(o => o.selected).length > 0
    },
    buildSelectedFiltersArray () {
      this.selectedFilters = []
      this.getQueryFilters().forEach((filter) => {
        let key
        filter.forEach((value, index) => {
          if (index === 0) {
            key = value
          } else {
            this.selectedFilters.push(key + '__' + value)
          }
        })
      })
    },
    getQueryFilters () {
      const query = this.$route.query // Get actual query parameter
      const filters = []
      if (query.filters) {
        if (types.isArray(query.filters)) {
          query.filters.forEach((filter) => {
            if (types.isArray(filter)) {
              filters.push(filter)
            } else {
              filters.push(filter.split(','))
            }
          })
        } else {
          filters.push(query.filters.split(','))
        }
      }
      return filters
    },
    onCategorySelect (arr) {
      if (this.loading === false) {
        this.$root.$emit('category::change', arr)
      }
    },
    onFilterChange (filterKey, optionKey) {
      const self = this
      const query = self.$route.query // Get actual query parameter

      const selectedFilters = JSON.parse(JSON.stringify(self.getQueryFilters()))
      const filterIndex = selectedFilters.findIndex(x => x[0] === filterKey)

      if (filterIndex === -1) { // slug not found
        selectedFilters.push([filterKey, optionKey])
      }

      if (filterIndex > -1 && !selectedFilters[filterIndex].includes(optionKey)) {
        selectedFilters[filterIndex].push(optionKey)
      } else if (filterIndex > -1) {
        selectedFilters[filterIndex].splice(selectedFilters[filterIndex].indexOf(optionKey), 1)
        if (selectedFilters[filterIndex].length === 1) {
          selectedFilters.splice(filterIndex, 1)
        }
      }

      const route = {
        name: 'index',
        params: self.$route.params,
        query: {
          ...query,
          filters: selectedFilters,
          page: 1
        }
      }

      // If query is empty then replace route, otherwise push
      if (types.isEmpty(query)) {
        self.$router.replace(route)
      } else {
        self.$router.push(route)
      }
    }
  }
}
</script>
<style>

.v-treeview-node__root {
  padding-left: 0;
}

.v-treeview-node__label {
  font-size: 0.9rem;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 48px !important;
}

.v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title {
  font-size: 1rem;
}

.v-expansion-panel-header {
  padding: 16px 8px !important;
  border-bottom: 1px solid #ccc;
}

.v-expansion-panel {
  border-radius: 0;
}

.v-expansion-panel.bordered .v-expansion-panel-header {
  border-bottom: 1px solid #42b4e6;
  border-radius: 0;
}
</style>
