<template>
  <v-app-bar app clipped-left dark elevation="0" fixed>
    <v-btn v-if="routeName === 'index'" icon class="d-block d-lg-none" @click="drawer = !drawer">
      <v-icon>mdi-filter-outline</v-icon>
    </v-btn>
    <!--
    <v-btn v-else icon class="d-block d-lg-none" @click="goBack()">
      <v-icon>mdi-keyboard-backspace</v-icon>
    </v-btn>
    -->
    <!-- :prominent="$vuetify.breakpoint.smAndDown" -->
    <div style="cursor: pointer">
      <nuxt-link :to="{name: 'index' }">
        <v-img :src="brandLogo" contain :width="logoMaxWidth" />
      </nuxt-link>
      <!--
      <v-img v-if="routeName === 'index'" :src="brandLogo" contain max-width="120" />
      <v-img v-else :src="brandLogo" contain max-width="120" @click="goBack()" />
      -->
    </div>

    <div v-if="$vuetify.breakpoint.mdAndUp" class=" mt-2 mx-auto px-4 app-search">
      <v-item-group>
        <list-autosuggest />
      </v-item-group>
    </div>

    <v-spacer v-if="$vuetify.breakpoint.smAndDown" />

    <v-badge
      overlap
      color="primary"
      :class="{'mr-3': $vuetify.breakpoint.smAndDown }"
      :content="currentCompareCount"
      :value="currentCompareCount > 0"
    >
      <v-btn
        text
        :small="$vuetify.breakpoint.smAndDown"
        color="white"
        :to="{name: 'compare' }"
        :disabled="currentCompareCount === 0"
      >
        <v-icon left>
          mdi-arrange-send-to-back
        </v-icon>
        <template v-if="$vuetify.breakpoint.mdAndUp">
          Vergleichen
        </template>
      </v-btn>
    </v-badge>

    <v-badge
      overlap
      color="primary"
      :content="currentFavoriteCount"
      :value="currentFavoriteCount > 0"
    >
      <v-btn
        text
        :small="$vuetify.breakpoint.smAndDown"
        color="white"
        :to="{name: 'favorites' }"
        :disabled="currentFavoriteCount === 0"
      >
        <v-icon left>
          <template v-if="currentFavoriteCount > 0">
            mdi-star
          </template><template v-else>
            mdi-star-outline
          </template>
        </v-icon>
        <template v-if="$vuetify.breakpoint.mdAndUp">
          Favoriten
        </template>
      </v-btn>
    </v-badge>

    <template v-if="$vuetify.breakpoint.smAndDown" #extension>
      <list-autosuggest />
    </template>
  </v-app-bar>
</template>
<script>
// const brandLogo = require('@/assets/Brand_Logo_RGB_LifeGreen.png')
const brandLogo = require('@/assets/logo.svg')
export default {
  data () {
    return {
      brandLogo,
      baseCategories: [],
      loading: false,
      selectedBaseCategory: null
    }
  },
  computed: {
    logoMaxWidth () {
      if (this.$vuetify.breakpoint.smAndDown) {
        return 120
      } else {
        return 180
      }
    },
    isPreviewServer () {
      return this.$store.getters.isPreviewServer
    },
    routeName () {
      return this.$route.name
    },
    maxCompareItems () {
      return this.$store.getters['compare/maxCompareItems']
    },
    currentCompareCount () {
      return this.$store.getters['compare/items'].length
    },
    currentFavoriteCount () {
      return this.$store.getters['favorite/items'].length // this.$store.getters.favorite.length
    },
    drawer: {
      get () {
        return this.$store.getters['app/drawer']
      },
      set (val) {
        this.$store.commit('app/setDrawer', val)
      }
    },
    baseCategoryName () {
      if (this.baseCategories && this.baseCategories.length > 0) {
        const cat = this.baseCategories.find(x => x.slug === this.selectedBaseCategory)
        if (cat) {
          return cat.title
        }
      }
      return false
    }
  },
  watch: {
    // Watch for changes in query parameters and update listing
    '$route' () {
      /*
      const self = this
      const actualQueryParameters = this.$route.query
      self.searchTerm = actualQueryParameters.term
      self.term = actualQueryParameters.term
      self.selectedBaseCategory = actualQueryParameters.base

       */
    }
  },
  mounted () {
    const self = this
    const actualQueryParameters = self.$route.query
    self.searchTerm = actualQueryParameters.term
    self.term = actualQueryParameters.term
    self.selectedBaseCategory = actualQueryParameters.base
  },
  methods: {
    goBack () {
      if (this.$route.query.backUrl) {
        this.$router.push(this.$route.query.backUrl)
        return false
      }
      this.$router.go(-1)
      return false
    },
    onBaseCategoryChange (event) {
      this.$nextTick(function () {
        const self = this
        const params = {}
        if (self.selectedBaseCategory) {
          params.base = self.selectedBaseCategory
        }
        self.updateRoute({
          page: 1
        }, params)
      })
    },
    loadBaseCategories () {
      const self = this

      return new Promise((resolve, reject) => {
        this.$categoryApiService.getList().then((result) => {
          let categories = [{
            id: -1,
            slug: null,
            title: 'Alle'
          }]

          if (result.basecategories && result.basecategories.length > 0) {
            categories = [...categories, ...result.basecategories]
          }
          self.baseCategories = categories
          resolve()
        }).catch((err) => {
          reject(err)
        })
      })
    }
  }
}
</script>
<style lang="scss">
.v-app-bar {
  background-color: #3dcd58 !important;
  border-bottom: 3px solid #009530 !important;
}
.app-search {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .v-input__prepend-outer {
    margin-top: 0;
    margin-right: 0;
  }

  &__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__category-selector {
    width: 200px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
</style>
