<template>
  <v-card
    :id="'article-' + item.id"
    class="d-flex flex-column list-item"
    tile
    style="position: relative"
    :loading="loading"
    :elevation="hover ? disableCard ? 0 : 16 : disableCard ? 0 : 1"
    :class="{ 'on-hover': hover }"
    height="100%"
    @mouseover="hover = true"
    @mouseout="hover = false"
  >
    <v-card-text class="py-3" style="position: relative" @mouseover="hover = true">
      <template v-if="images.length > 0">
        <swiper ref="slider" :options="swiperOptions">
          <swiper-slide v-for="(slideImage, index) in images" :key="index">
            <v-img height="150" contain :src="getImagePath(slideImage)" style="cursor: pointer; max-width: 100%" @click="goToProduct(item)">
              <template #placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular indeterminate color="primary" />
                </v-row>
              </template>
            </v-img>
          </swiper-slide>
          <div slot="button-prev" class="swiper-button-prev" />
          <div slot="button-next" class="swiper-button-next" />
        </swiper>
      </template>
      <template v-else>
        <v-img height="150" contain :src="previewImage" style="cursor: pointer; max-width: 100%" @click="goToProduct(item)">
          <template #placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular indeterminate color="primary" />
            </v-row>
          </template>
        </v-img>
      </template>

      <template v-if="isPreviewServer">
        <v-tooltip v-if="item.online === true" bottom>
          <template #activator="{ on, attrs }">
            <v-icon class="online-icon" color="success" v-bind="attrs" v-on="on">
              mdi-checkbox-marked-circle-outline
            </v-icon>
          </template>
          <span>Online</span>
        </v-tooltip>
        <v-tooltip v-else-if="item.online === false" bottom>
          <template #activator="{ on, attrs }">
            <v-icon class="online-icon" color="error" v-bind="attrs" v-on="on">
              mdi-close-circle
            </v-icon>
          </template>
          <span>Nicht Online</span>
        </v-tooltip>
      </template>
    </v-card-text>

    <v-spacer />

    <v-card-text class="pb-0" @mouseover="hover = true">
      <div>{{ item.article_number }}</div>
    </v-card-text>
    <v-card-title class="py-0 text-subtitle-2" style="cursor:pointer;" @click="goToProduct(item)">
      {{ item.title }}
    </v-card-title>
    <v-card-text>
      {{ item.short_description }}
    </v-card-text>

    <v-spacer />

    <hr class="my-2">

    <v-card-text class="pt-0 pb-2 px-2" @mouseover="hover = true">
      <v-checkbox
        v-model="compareSelected"
        :true-value="true"
        :disabled="compareDisabled"
        hide-details
        color="secondary"
        label="Vergleichen"
        class="mt-0 subtitle-1"
        @click="onCompareChange"
      />
      <v-checkbox
        v-model="favoriteSelected"
        :true-value="true"
        color="secondary"
        hide-details
        label="Zu meinen Favoriten"
        class="mt-0 subtitle-1"
        @click="onFavoriteChange()"
      />
    </v-card-text>

    <hr class="my-2">

    <v-card-actions @mouseover="hover = true">
      <v-btn
        color="secondary"
        dark
        small
        block
        tile
        @click="dialog = true"
      >
        Dokumente
      </v-btn>
    </v-card-actions>

    <v-overlay absolute :value="dialog" />

    <v-dialog
      :value="dialog"
      :attach="'#article-' + item.id"
      hide-overlay
      transition="dialog-bottom-transition"
      @click:outside="dialog = false"
      @mouseover="hover = true"
      @mouseleave="dialog = false"
    >
      <v-card tile @mouseover="hover = true">
        <v-toolbar flat dark dense color="secondary" @mouseover="hover = true">
          <v-toolbar-title class="subtitle-1">
            Dokumente
          </v-toolbar-title>
          <v-spacer />
          <v-btn icon small dark @click="dialog = false">
            <v-icon small>
              mdi-chevron-double-down
            </v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="pa-0" @mouseover="hover = true">
          <v-btn text block class="text-left" @click="downloadDatasheet()">
            <v-icon left>
              mdi-file-pdf-box
            </v-icon>
            Datenblatt
          </v-btn>
          <v-btn
            v-if="item.sketch"
            text
            block
            class="text-left"
            :to="item.sketch.path"
            target="_blank"
          >
            <v-icon left small>
              mdi-file-image
            </v-icon>
            Download Skizze
          </v-btn>

          <v-btn
            v-if="item.instruction_url"
            text
            block
            text-left
            target="_blank"
            @click="openAssemblyInstructions()"
          >
            <v-icon left>
              mdi-file-pdf-box
            </v-icon>
            Montageanleitung
          </v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import compareMixin from '~/mixins/compare.mixins'
import favoriteMixin from '~/mixins/favorite.mixins'

const previewImage = require('@/assets/ABN_green.jpg')
export default {
  mixins: [compareMixin, favoriteMixin],
  props: {
    loading: {
      type: Boolean,
      default: true
    },
    item: {
      type: Object,
      required: true
    },
    disableCard: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      swiperOptions: {
        // direction: 'vertical',
        slidesPerView: 1,
        spaceBetween: 0,
        pagination: {
          el: '.swiper-pagination'
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
      dialog: false,
      hover: false
    }
  },
  computed: {
    webpSupported () {
      const webp = e => document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') === 0
      return webp()
    },
    images () {
      const results = []
      this.item.images.forEach((image) => {
        results.push(image.url)
      })
      return results
    },
    isPreviewServer () {
      return this.$store.getters.isPreviewServer
    },
    previewImage () {
      try {
        if (this.item.images.length > 0) {
          let firstImage = this.item.images.find(x => x.field === 'produktbilder')

          if (!firstImage) {
            firstImage = this.item.images.find(x => x.field === 'prinzipdarstellung')
          }

          if (!firstImage) {
            firstImage = this.item.images.find(x => x.field === 'massdarstellung')
          }

          if (firstImage) {
            let imageUrl = firstImage.url + '?w=150&h=150&fit=contain'
            if (this.webpSupported) {
              imageUrl = imageUrl + '&fm=webp'
            }
            return imageUrl
          }
        }
      } catch (error) {}

      return previewImage
    }
  },
  methods: {
    openNewWindow (url) {
      window.open(url, '_blank')
    },
    getImagePath (path) {
      let imageUrl = path + '?w=150&h=150&fit=fill&border=20,ffffff,shrink'
      if (this.webpSupported) {
        imageUrl = imageUrl + '&fm=webp'
      }
      return imageUrl
    },
    openAssemblyInstructions () {
      this.openNewWindow('/instructions/' + this.item.slug)
    },
    downloadDatasheet () {
      this.openNewWindow('/datasheet/' + this.item.slug)
    },
    goToProduct (item) {
      this.$router.push({
        name: 'detail',
        params: {
          index: item.slug
        }
      })
    }
  }
}
</script>
<style lang="scss">

.list-item {
  --swiper-navigation-size: 16px;
  --swiper-theme-color: #3dcd58;
  .v-label {
    font-size: 14px;
    top: 2px;
    color: rgba(0, 0, 0, .6) !important;
  }

  .online-icon {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 15px;
    top: auto;
    left: auto;
  }

  .v-dialog {
    margin: 0;
  }

  .v-dialog__content {
    align-items: flex-end;
    position: absolute;
    overflow: hidden;

    .v-btn__content {
      justify-content: flex-start;
    }
  }

  .item-favorites {
    position: absolute;
    top: 21px;
    right: 8px;
    bottom: auto;
    left: auto;
  }

  .item-compare-checkbox {
    position: absolute;
    top: 16px;
    left: 0;
    padding: 3px 10px;
    border-radius: 13px;
    z-index: 2;
    display: inline-block;
    font-size: 12px;

    label {
      display: none !important;
      font-size: 12px;
      margin-top: 1px;
      margin-left: -5px;
    }

    &--hover {
      background-color: #f3f2f2;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 13px !important;
      border-bottom-left-radius: 0;

      label {
        display: block !important;
      }
    }
  }
}

</style>
